
.container{
  display:flex;

}
.blank{
  display:inline-block;
  background-color:white;
  border-radius:7px ;
  width: 7.5em;
  height:11em;
  box-shadow:.2em .2em .3em gray;
  border:.08em solid black;
  margin: 10px;
}
.table{
  display:inline-block;
  background-color:black;
  width: 600px;
  height:400px;

}

#value{
  padding:5px 0px 0px 5px;
  font-size: 2em;
}



.black #suit{


}
